#standings td.fname, #owner_activity td:first-of-type, #trade_bait td:first-of-type, #bbid_summary td:first-of-type, #fantasy_confidence_pool td:first-of-type, #nfl_survivor_pool td:first-of-type, #nfl_confidence_pool td:first-of-type, #home #power_rank td:first-of-type, #weekly_summary td:first-of-type, #body_board_show .addCaption .poster, #body_options_101 .mobile-wrap > .report td:first-of-type, #body_accounting_report .report.nocaption td:first-of-type, #body_options_208 .report td.franchisename, #body_options_171 .report td.franchisename, #body_options_120 .mobile-wrap > .report td:first-of-type, #body_options_54 .mobile-wrap > .report td:first-of-type {
	width:1%
}

#standings .franchiseicon {
	min-width:150px
}

#InvalidLineup .franchiseicon {
	max-width: 150px;
	max-height:50px
}

#home #roster .franchiseicon {
	max-width: 40%;
	min-width:200px
}

#MFLroster #roster .franchiseicon {
	max-width: 250px;
	min-width:100px
}

#home #waiver_request_list .franchiseicon {
	max-width: 40%;
	min-width: 200px;
	text-align: center;
	display: block;
	margin:0 auto
}

#trade_bait .franchiseicon {
	min-width:100px
}

#bbid_summary .franchiseicon, #fantasy_confidence_pool .franchiseicon, #nfl_survivor_pool .franchiseicon, #nfl_confidence_pool .franchiseicon, #owner_activity .franchiseicon, #home #power_rank .franchiseicon, #weekly_summary .franchiseicon, #body_options_208 .report .franchiseicon, #body_options_171 .report .franchiseicon, #body_options_120 .mobile-wrap > .report .franchiseicon, #body_options_54 .mobile-wrap > .report .franchiseicon {
	min-width:130px
}

#last_weeks_fantasy_results .franchiseicon, #top_steals .franchiseicon, #top_busts .franchiseicon {
	max-width: 130px;
	width: 100%;
	min-width:100px
}

#fantasy_preview .franchiseicon, #fantasy_recap .franchiseicon {
	min-width: 140px;
	max-width: 40%;
	padding:10px 0
}

#next_weeks_fantasy_schedule .franchiseicon, #transactions .franchiseicon, #body_options_03 .report .franchiseicon, #body_options_17 .report .franchiseicon {
	max-width:130px
}

#options_05 .franchiseicon, #body_fantasy_box_score .report .franchiseicon, #body_accounting_report .report.nocaption .franchiseicon {
	max-width:200px
}

img.ava, #body_options_101 .mobile-wrap > .report .franchiseicon {
	height: auto;
	min-width:150px
}

#body_options_15 .report .franchiseicon, #body_options_16 .report .franchiseicon, #waiver_order .franchiseicon, #body_options_169 div.mobile-wrap .franchiseicon, #body_options_06 .report .franchiseicon {
	max-width: 200px;
	width:100%
}

#MFLRoadTeamName img, #MFLHomeTeamName img {
	padding:5px
}

#optional-message-table .franchiseicon {
	display:none
}

#body_options_207 .mobile-wrap > .report th .franchiseicon, #body_options_177 .mobile-wrap > .report th .franchiseicon {
	max-width: 200px;
	padding: 5px;
	width:100%
}

#body_options_207 .mobile-wrap > .report th a:nth-child(2):after, #body_options_177 .mobile-wrap > .report th a:nth-child(2):after {
	content: "";
	display:block
}

.h2hmatchups.scoresummary .franchiseicon {
	max-width:150px
}

#body_options_67 .franchiseicon {
	max-height: 20px;
	width: auto;
	margin:2px 0
}

#transactions .franchiseicon, #body_options_03 .report .franchiseicon {
	margin: 1px 0
}

