/*    HOMEPAGE SLIDER
===================================== */
div.ws-title {display:none!important}

#wowslider-container1 { 
	display: table;
	zoom: 1; 
	position: relative;
	width: 100%;
	max-width: 612px;
	max-height:385px;
	margin:0 auto;
        margin-top:0px;
	z-index:90;
	text-align:left; /* reset align=center */
	font-size: 10px;
	text-shadow: none; /* fix some user styles */
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,.4);
        margin-bottom:15px!important;

	/* reset box-sizing (to boostrap friendly) */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
        padding:4px;
       border-radius: 5px;
       border: 1px solid #171717;
       box-shadow: 0px 0px 3px 1px rgba(0,0,0,.4);
}
* html #wowslider-container1{ width:612px }
#wowslider-container1 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
	position: relative;
	width:1%;
	height:100%;
	line-height:0; /*opera*/
	overflow: hidden;
	float:left;
	/*font-size:0;*/
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	height:100%;
	max-height:385px;
	max-width: 612px;
	vertical-align: top;
	overflow: hidden;
        border:0;
}
#wowslider-container1 .ws_images ul a{
	width:100%;
	height:100%;
	max-height:300px;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images .ws_list img,
#wowslider-container1 .ws_images > div > img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
#wowslider-container1 .ws_images > div > img {
	max-height:385px;
}

#wowslider-container1 .ws_images iframe {
	position: absolute;
	z-index: -1;
}

#wowslider-container1 .ws-title > div {
	display: inline-block !important;
}

#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
	font-size: 0px;
}
/* compatibility with Joomla styles */
#wowslider-container1  .ws_bullets a {
	line-height: 0;
}

#wowslider-container1  .ws_script{
	display:none;
}
#wowslider-container1 sound, 
#wowslider-container1 object{
	position:absolute;
}

/* prevent some of users reset styles */
#wowslider-container1 .ws_effect {
	position: static;
	width: 100%;
	height: 100%;
}

#wowslider-container1 .ws_photoItem {
	border: 2em solid #fff;
	margin-left: -2em;
	margin-top: -2em;
}
#wowslider-container1 .ws_cube_side {
	background: #A6A5A9;
}


#wowslider-container1.ws_gestures {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
#wowslider-container1.ws_gestures.ws_grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

/* hide controls when video start play */
#wowslider-container1.ws_video_playing .ws_bullets,
#wowslider-container1.ws_video_playing .ws_fullscreen,
#wowslider-container1.ws_video_playing .ws_next,
#wowslider-container1.ws_video_playing .ws_prev {
	display: none;
}


/* youtube/vimeo buttons */
#wowslider-container1 .ws_video_btn {
	position: absolute;
	display: none;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 55;
}
#wowslider-container1 .ws_video_btn.ws_youtube,
#wowslider-container1 .ws_video_btn.ws_vimeo {
	display: block;
}
#wowslider-container1 .ws_video_btn div {
	position: absolute;
	background-image: url();
	background-size: 200%;
	top: 50%;
	left: 50%;
	width: 7em;
	height: 5em;
	margin-left: -3.5em;
	margin-top: -2.5em;
}
#wowslider-container1 .ws_video_btn.ws_youtube div {
	background-position: 0 0;
}
#wowslider-container1 .ws_video_btn.ws_youtube:hover div {
	background-position: 100% 0;
}
#wowslider-container1 .ws_video_btn.ws_vimeo div {
	background-position: 0 100%;
}
#wowslider-container1 .ws_video_btn.ws_vimeo:hover div {
	background-position: 100% 100%;
}

#wowslider-container1 .ws_playpause.ws_hide {
	display: none !important;
}

* html #wowslider-container1{
	background-image: none;
}

#wowslider-container1  .ws_bullets { 
	padding: 0px; 
}
#wowslider-container1 .ws_bullets a { 
	margin-left: 0; 
	width:20px;
	height:20px;
	background: url(http://www.dagrafixdesigns.com/Images/2008/DA_2016/DA_Pro16/bullet.png) right top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	color:transparent;
}
* html #wowslider-container1 .ws_bullets a {
	background-image: url(http://www.dagrafixdesigns.com/Images/2008/DA_2016/DA_Pro16/bullet.gif);
}
#wowslider-container1 .ws_bullets a.ws_selbull{
	background-position: left top;
}
#wowslider-container1 .ws_bullets a:hover{
	background-position: left top;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	position:absolute;
	top:50%;
	margin-top:-3.7em;
	opacity:0.7;
	z-index:60;
	height: 7.5em;
	width: 6em;
	background-image: url(http://www.dagrafixdesigns.com/Images/2008/DA_2016/DA_Pro16/arrows.png);
	background-size: 200%;display: none
}

* html #wowslider-container1 a.ws_next, * html #wowslider-container1 a.ws_prev{
	background-image: url(http://www.dagrafixdesigns.com/Images/2008/DA_2016/DA_Pro16/arrows.gif);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#wowslider-container1 a.ws_next{
	background-position: 100% 0; 
	right:0;
}
#wowslider-container1 a.ws_prev {
	left:0;
	background-position: 0 0; 
}

/*playpause*/
#wowslider-container1 .ws_playpause {
    width: 6em;
    height: 7.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3em;
    margin-top: -3.7em;
    z-index: 59;
	background-size: 100%;display: none
}

#wowslider-container1 .ws_pause {
    background-image: url(http://www.dagrafixdesigns.com/Images/2008/DA_2016/DA_Pro16/pause.png);display: none
}

#wowslider-container1 .ws_play {
    background-image: url(http://www.dagrafixdesigns.com/Images/2008/DA_2016/DA_Pro16/play.png);display: none
}

#wowslider-container1 .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}/* bottom center */
#wowslider-container1  .ws_bullets {
	bottom:26px;
	margin-bottom: -25px;
	left:50%;
}
#wowslider-container1  .ws_bullets div{
	left:-50%;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	bottom:29px;
}#wowslider-container1 .ws-title{
	position: absolute;
    font: 1.2em 'Oswald', Arial, Helvetica, sans-serif;
	bottom:8%;
	left: 0;
	margin-right:2em;
	z-index: 50;
	color: #000000;
    letter-spacing: 0.1em;
    line-height: 1.25em;
    text-align: left;
    text-shadow: 0 0 0.15em #FFFFFF;	
}
#wowslider-container1 .ws-title div,#wowslider-container1 .ws-title span{
	display:inline-block;
	padding:0.8em;
	background:#FFF;
	-moz-border-radius:0 0.4em 0.4em 0;
	-webkit-border-radius:0 0.4em 0.4em 0;
	border-radius:0 0.4em 0.4em 0;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}
#wowslider-container1 .ws-title div{
	display:block;
	margin-top:0.5em;
	font-size: 0.857em;
}#wowslider-container1 .ws_images > ul{
	animation: wsBasic 44s infinite;
	-moz-animation: wsBasic 44s infinite;
	-webkit-animation: wsBasic 44s infinite;
}
@keyframes wsBasic{0%{left:-0%} 4.55%{left:-0%} 9.09%{left:-100%} 13.64%{left:-100%} 18.18%{left:-200%} 22.73%{left:-200%} 27.27%{left:-300%} 31.82%{left:-300%} 36.36%{left:-400%} 40.91%{left:-400%} 45.45%{left:-500%} 50%{left:-500%} 54.55%{left:-600%} 59.09%{left:-600%} 63.64%{left:-700%} 68.18%{left:-700%} 72.73%{left:-800%} 77.27%{left:-800%} 81.82%{left:-900%} 86.36%{left:-900%} 90.91%{left:-1000%} 95.45%{left:-1000%} }
@-moz-keyframes wsBasic{0%{left:-0%} 4.55%{left:-0%} 9.09%{left:-100%} 13.64%{left:-100%} 18.18%{left:-200%} 22.73%{left:-200%} 27.27%{left:-300%} 31.82%{left:-300%} 36.36%{left:-400%} 40.91%{left:-400%} 45.45%{left:-500%} 50%{left:-500%} 54.55%{left:-600%} 59.09%{left:-600%} 63.64%{left:-700%} 68.18%{left:-700%} 72.73%{left:-800%} 77.27%{left:-800%} 81.82%{left:-900%} 86.36%{left:-900%} 90.91%{left:-1000%} 95.45%{left:-1000%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 4.55%{left:-0%} 9.09%{left:-100%} 13.64%{left:-100%} 18.18%{left:-200%} 22.73%{left:-200%} 27.27%{left:-300%} 31.82%{left:-300%} 36.36%{left:-400%} 40.91%{left:-400%} 45.45%{left:-500%} 50%{left:-500%} 54.55%{left:-600%} 59.09%{left:-600%} 63.64%{left:-700%} 68.18%{left:-700%} 72.73%{left:-800%} 77.27%{left:-800%} 81.82%{left:-900%} 86.36%{left:-900%} 90.91%{left:-1000%} 95.45%{left:-1000%} }

#wowslider-container1 .ws_images{
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
}#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:20px;
	left:-43px;
	visibility:hidden;
	position:absolute;
    -moz-box-shadow: 0 0 5px #d6d6d6;
    box-shadow: 0 0 5px #d6d6d6;
    border: 3px solid #d6d6d6;
	max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:48px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:85px;
	background-color:#d6d6d6;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    -moz-box-shadow: 0 0 5px #d6d6d6;
    box-shadow: 0 0 5px #d6d6d6;
    border: 3px solid #d6d6d6;
}
#wowslider-container1 .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-7px;
	margin-left:-1px;
	left:43px;
	background:url(http://www.dagrafixdesigns.com/Images/2008/DA_2016/DA_Pro16/triangle.png);
	width:15px;
	height:6px;
}#wowslider-container1 .ws_bulframe div div{
	height: auto;
}

@media all and (max-width:760px) {
	#wowslider-container1 .ws_fullscreen {
		display: block;
	}
}
@media all and (max-width:400px){
	#wowslider-container1 .ws_controls,
	#wowslider-container1 .ws_bullets,
	#wowslider-container1 .ws_thumbs{
		display: none
	}
}